@import 'tailwindcss';

@theme {
	--color-comment: rgb(240, 242, 245);
}

@custom-variant interact (&:hover, &:focus);

#form {
	@apply grid;
	grid-template: "a b" auto
				   "c c" auto;

	@media (min-width: 48rem) {
		@apply flex;
		grid-template: unset;
	}
}

details summary::-webkit-details-marker {
  display:none;
}
